.news-list-card {
    padding: 18px 0;
}

.news-list-card:not(:last-child) {
    border-bottom: 1px solid #18212F;
}
.news-card-thumbnail {
    width: 80px;
    height: 80px;
    background-size: cover;
    border-radius: 10px;
    margin-right: 20px;
    background: rgba(65, 65, 69, 0.15);
    color: grey;
    text-decoration: none !important;
}
.news-card-content-container {
    flex: 1
}
.news-card-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.news-card-content {
    color: #A2ACB9;
    font-size: 14px;
    text-overflow: ellipsis;
}
