<section class="hero-section">
    <div class="text-white d-flex flex-column justify-content-center align-items-center">
        <div class="mb-4">
            <img src="/images/icons/keyboard-open.png" alt="">
        </div>
        <h1 class="mb-2 text-center hero-title text-gradient font-weight-bold">The Best <span class="text-white">TV Player</span></h1>
        <p class="hero-subtitle text-white mb-2">On your fingertip</p>
        <p class="mb-4 text-center hero-description text-muted">We are working on our app to continuously provide better functionality</p>

        <div class="d-flex flex-wrap justify-content-center download-btns">
            <a class="download-btn" href="#">
                <img src="/images/icons/hero-apple.png" alt="">
                <div class="text-start">
                    <small class="d-block">Download</small>
                    <span class="font-weight-600">App Store</span>
                </div>
            </a>
            <a class="download-btn" href="#">
                <img src="/images/icons/hero-google-play.png" alt="">

                <div class="text-start">
                    <small class="d-block">Download</small>
                    <span class="font-weight-600">Google Play</span>
                </div>
            </a>
            <a class="download-btn" href="#">
                <img src="/images/icons/hero-samsung-tv.png" alt="">
                <div class="text-start">
                    <small class="d-block">Download</small>
                    <span class="font-weight-600">Samsung TV</span>
                </div>
            </a>
            <a class="download-btn" href="#">
                <img src="/images/icons/hero-lg-tv.png" alt="">
                <div class="text-start">
                    <small class="d-block">Download</small>
                    <span class="font-weight-600">LG TV</span>
                </div>
            </a>
            <a class="download-btn" href="#">
                <img src="/images/icons/hero-android.png" alt="">

                <div class="text-start">
                    <small class="d-block">Download</small>
                    <span class="font-weight-600">Android TV</span>
                </div>
            </a>
        </div>
    </div>
</section>
