<!-- Why Flix Section -->
<section class="py-5">
    <div class="section-heading d-flex flex-column align-items-center">
        <h2 class="text-gradient font-weight-bold">Why Flix TV</h2>
        <p class="text-white">On your fingertip</p>
        <p class="text-center text-muted">We are working on our app to continuously provide better functionality</p>
    </div>

    <div class="position-relative overflow-hidden" style="--background-color: #0f1117; --border-color: #473590; --shadow-color: #503787">
        <div class="box-top-shadow"></div>

        <div class="screenshot-container about-screenshot-container">
            <div class="d-flex justify-content-between align-items-center screenshot-content">
                <div>
                    <h3 class="font-weight-bold text-white why-flix-title mb-4">All Resolutions</h3>
                    <p class="text-muted">Experience stunning visual quality across all your devices.</p>
                    <p class="text-muted">Flix IPTV supports every screen size and resolution, from standard HD to Ultra HD 4K, ensuring your content looks its best — whether you’re watching on a smartphone, tablet, or large-screen TV.</p>
                </div>

                <img src="/images/my-list/why-flix.png" alt="App screenshot" class="why-flix-img">
            </div>

            <div class="box-bottom-shadow"></div>
        </div>
    </div>
</section>
