<link rel="stylesheet" href="frontend/faq.css">

<section style="--background-color: #0C1018; --border-color: #473590; --angle: 112deg"
         class="news-container fancy-card">
    <div class="pb-4 news-section-header">
        <h1 class="text-white news-section-title">Contact Us</h1>

    </div>

    <div class="row">
        <div class="col-12">
            <p>Please contact us about any app issues, feedback, and feature enhancement requests.</p>

            <a href="mailto:support@evolution-world.com">support@evolution-world.com</a>
        </div>
    </div>
</section>
