<section style="--background-color: #0C1018; --border-color: #473590; --angle: 112deg" class="news-container fancy-card">
    <div class="pb-4 news-section-header">
        <h1 class="text-white news-section-title">Frequently Asked Questions</h1>
    </div>

    <% faqs.map(item=>{%>
        <div class="news-section-container">
            <%-item.content%>
        </div>
    <%})%>
</section>
