<section style="--background-color: #0C1018; --border-color: #473590; --angle: 112deg" class="news-container fancy-card">
    <div class="news-section-header">
        <h1 class="text-white news-section-title">Instructions</h1>
        <p>Set up Flix TV on your device</p>
    </div>

    <div class="news-section-container">
        <%-instruction ? instruction.content : ''%>
    </div>
</section>
