<section style="--background-color: #0C1018; --border-color: #473590; --angle: 110deg" class="news-container fancy-card">
    <h1 class="text-white news-section-title">News</h1>

    <% news.map(item=>{%>
        <div class="news-section-container">
            <%-item.content%>
        </div>
    <%})%>
</section>
