<link rel="stylesheet" href="/frontend/news.css">

<section style="--background-color: #0C1018; --border-color: #473590; --angle: 110deg" class="news-container fancy-card">
    <article class="text-white">
        <div class="pb-4 news-section-header">
            <h1 class="text-white pb-1 news-section-title">Instruction For <span class="text-white"><%- instruction.kind %></span></h1>
            <h2 class="news-section-subtitle">Set up Flix TV on your device</h2>
        </div>

        <%- instruction.content %>
    </article>
</section>
