<link rel="stylesheet" href="/frontend/news.css">

<section style="--background-color: #0C1018; --border-color: #473590; --angle: 110deg" class="news-container fancy-card">
    <article class="text-white">
        <h1 class="text-white pb-4 news-section-title"><%- news.title %></h1>

        <%- news.content %>
    </article>
</section>
