<footer class="text-center py-5">
    <a href="/" class="header-logo text-white">
        <span class="font-weight-bold">FLIX</span><span class="font-weight-300">TV</span>
    </a>
    <p class="text-muted">At your fingertip</p>

    <div class="footer-separator"></div>

    <div class="mt-4">
        <a href="/terms&conditions" class="text-muted mx-2">Terms of Use</a>
        <a href="/privacy-policy" class="text-muted mx-2">Privacy Policies</a>
    </div>
</footer>
