<style>
    .filter-wrapper label{
        color:#fff !important;
    }
</style>
<div class="page-content">
    <div class="panel panel-boxed">
        <div class="panel-heading">
            <h3 class="panel-title">Playlist Summary</h3>
        </div>
        <div class="panel-body">
            <div class="">
                <div class="list-wrapper w-full">
                    <div class="table-responsive">
                <table class="table" id="item-list-table">
                    <thead class="table-dark">
                        <tr>
                            <th>MAC Address</th>
                            <th>Is Active</th>
                            <th>Total Playlist URLs</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
<script>
    var current_tr, current_playlist_id, dataTable, current_button;
    $(document).ready(function () {
        dataTable=$('#item-list-table').DataTable({
            autoFill: false
        });
    })

    var columns = [
        {data: 'mac_address', sortable: true},
        {data: 'is_active', sortable: false},
        {data: 'total_urls', sortable: true},
    ];

    $(document).ready(function () {
        updateDataTable();
    })
    function updateDataTable(){
        dataTable.destroy();
        dataTable=$('#item-list-table').DataTable({
            'processing': true,
            'serverSide': true,
            'serverMethod': 'post',
            "order": [[ 2, "desc" ]],
            autoFill: false,
            pageLength: 50,
            'ajax':{
                url:site_url+"/admin/get-playlist-summary",
                data:{
                },
                "dataSrc": function ( json ) {
                    return json.data;
                }
            },
            'columns': columns,
            select: {
                style: 'multi',  // Allows multiple row selection
                selector: 'td',  // Allows clicking anywhere on the row to select
                info: true      // Shows selected row count in the table info
            },
            dom: 'Bfrtip',      // Adds buttons to the table
            buttons: [
                'selectAll',    // Button to select all rows
                'selectNone',   // Button to deselect all rows
                {
                    text: 'Remove Devices',
                    className: 'btn-danger',
                    action: function () {
                        var selectedData = dataTable.rows({ selected: true }).data();
                        var selectedMacAddresses = [];
                        selectedData.each(function(data) {
                            selectedMacAddresses.push(data.mac_address);
                        });
                        console.log('Selected IPs:', selectedMacAddresses);
                        if (selectedMacAddresses.length > 0) {
                            $.ajax({
                                url: site_url + '/admin/remove-devices',
                                type: 'POST',
                                data: { mac_addresses: selectedMacAddresses },
                                success: function(response) {
                                    console.log('Devices removed:', response);

                                    Toastify({
                                        text: "Devices removed with playlists",
                                    }).showToast();

                                    dataTable.rows({ selected: true }).remove().draw();
                                }
                            });
                        }
                    }
                }
            ],
        });
    }

</script>
